* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #212121;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loading{
    color: #fff;
}

.ring{
    width: 190px;
    height: 190px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1){
    border-bottom: 8px solid rgb(255, 0, 157);
    animation: rotate1 1.5s linear infinite;
}

@keyframes rotate1{
    from{
        transform: rotateX(50deg) rotateZ(110deg);
    }
    to{
        transform: rotateX(50deg) rotateZ(470deg);
    }
}

.ring:nth-child(2){
    border-bottom: 8px solid rgb(253, 0, 55);
    animation: rotate2 1.5s linear infinite;
}

@keyframes rotate2{
    from{
        transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
    to{
        transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
}

.ring:nth-child(3){
    border-bottom: 8px solid rgb(85, 255, 0);
    animation: rotate3 1.5s linear infinite;
}

@keyframes rotate3{
    from{
        transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
    to{
        transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
}

.ring:nth-child(4){
    border-bottom: 8px solid rgb(255, 166, 0);
    animation: rotate4 1.5s linear infinite;
}

@keyframes rotate4{
    from{
        transform: rotateX(70deg) rotateZ(270deg);
    }
    to{
        transform: rotateX(70deg) rotateZ(630deg);
    }
}
